* {
    font-family: 'Work Sans', sans-serif;
}

/* banner section  */
.baner {
    display: flex;
    padding: 100px 200px;
    background-image: url("/images/banner/banner3.png");
    background-size: 100%;
}

.baner-discription {
    text-align: right;
    width: 40%;
    margin-left: auto;
    padding-left: 100px;
    padding: 100px 0;
}

.baner-title {
    font-size: 75px;
    line-height: 76px;
    font-weight: 800;
}

.baner-details {
    font-size: 18px;
    line-height: 26px;
    color: #d6d0d0;
}

.button-primary {
    background: #F15B22;
    border-radius: 5px;
    padding: 25px 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    border: none;
    color: white;
}


/* main section */
main {
    padding: 100px 230px;
}

.my-details {
    display: flex;
}

.my-details>div {
    width: 50%;
}

.my-details-discribe {
    margin: 200px;
}

.section-title {
    font-size: 40px;
}

.my-details li {
    list-style-type: lower-alpha;
}


/* plane section */

.my-plan-section {
    margin: 200px 0;
    text-align: center;

}

.my-plans {
    display: flex;
    justify-content: space-between;
    margin: 100px 0;

}

.paln h3 {
    font-size: 30px;
}